<h1>SEARCH PAGE</h1>

<form method="post" action="/search">
  <div class="mb-3">
    <label for="InputSearch" class="form-label">Search</label>
    <input type="text" name="q" class="form-control" id="InputSearch" aria-describedby="SearchHelp">
    <div id="SearchHelp" class="form-text">Nhập từ khóa</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>